body {
  @apply font-raleway font-light bg-cover;

  background: linear-gradient(
    0deg,
    rgba(39, 38, 53, 1) 0%,
    rgba(18, 17, 32, 1) 42%,
    rgba(3, 3, 8, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-size: 22px;
}

html {
  @apply min-h-full m-0 p-0;
}

main {
  @apply relative;
}

hr {
  @apply border-gray-100 my-4;
}

.page-fade-enter {
  opacity: 0;
}
.page-fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.page-fade-exit {
  opacity: 1;
}
.page-fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
